#!/bin/bash

echo "Loading project environment variables..."

# export SECRET=""
# export APP_ORIGIN="http://localhost"
# export APP_MYSQL_URL="mysql://root@localhost/the_product_db"
# export MAILSLURP_API_KEY=""
# export SPARKPOST_API_KEY=""
# export SPARKPOST_FROM=""

# export S3_CDN_PATH=""
