#!/bin/bash

echo "Loading project environment variables..."

# export APP_SECRET=""
# export APP_ORIGIN="https://the-product.com"
# export APP_CDN_URL="https://cdn.the-product.com/app"
# export APP_MYSQL_URL="mysql://root@localhost/the_product_db"
# export MAILSLURP_API_KEY=""
# export SPARKPOST_API_KEY=""
# export SPARKPOST_FROM=""

# export AWS_ACCESS_KEY_ID=
# export AWS_SECRET_ACCESS_KEY=
# export AWS_DEFAULT_REGION=us-east-1

# export DEPLOY_MYSQL_URL="mysql://user:pass@10.0.0.1/the_product_db"
# export DEPLOY_APP_LAMBDA_FN=the-product-app
# export DEPLOY_APP_BUCKET_PATH=cdn.the-product.com/app

if [[ -r .envrc.local ]]; then source .envrc.local; fi
