#!/bin/bash

echo "Loading project environment variables..."

# export APP_SECRET=""
# export APP_ORIGIN="https://the-product.com"
# export APP_CDN_URL="https://cdn.the-product.com/app"
# export APP_MYSQL_URL="mysql://root@localhost/the_product_db"
# export MAILSLURP_API_KEY=""
# export SPARKPOST_API_KEY=""
# export SPARKPOST_FROM=""

