@import '../colors';

:global {
  html {
    height: 100%;
  }

  body {
    background: $primary-brand;
    color: $darker-gray;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #app-root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header {
  margin-top: calc(50vh - 360px);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 200px;
  width: 200px;
  background: url('../assets/logo.svg') no-repeat;
}

h1.app-name {
  color: $accent-brand;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 1px 5px $dark-gray;
  max-width: 100vw;
  overflow: hidden;
}

.account-forms {
  background: white;
  border-radius: 10px;
  width: 375px;
  min-height: 200px;

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    > div {
      margin-bottom: 10px;
    }

    > button {
      margin-top: 10px;
    }

    .half-text {
      width: 50%;
    }
  }
}

.newsletter {
  font-size: 0.9em;

  small {
    font-size: 0.6em;
    margin-top: -5px;
    display: block;
    color: $medium-gray;
  }
}

p.tos {
  text-align: center;
  margin-top: 20px;
}
