$primary-brand: #0771b8;
$accent-brand: #fcb827;

$darker-gray: #333;
$dark-gray: #444;
$medium-gray: #666;
$lightest-gray: #eee;

$dark-red: #721c24;
$light-pink: #f5c6c6;
$lightest-pink: #fff4f4;

$dark-green: #1c721c;
$light-green: #c6f5cd;
$lightest-green: #f5fff4;
