:global {
  html {
    height: 100%;
  }

  body {
    background: #0771b8;
    color: #333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1.app-name {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 1px 5px #444;
    margin-top: calc(50% - 200px);
    margin-bottom: 40px;
  }

  #app-root {
    background: white;
    border-radius: 10px;
    width: 300px;
    min-height: 200px;
  }

  .account-forms form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    > div {
      margin-bottom: 10px;
    }

    > button {
      margin-top: 10px;
    }

    .half-text {
      width: 50%;
    }
  }
}
